<!DOCTYPE HTML>
<html>
<head>
	<title>Python Bootcamp Project</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../static/assets/css/main.css" />
	<style type='text/css'>
		  h1 {
			font-size: 30pt;
		  }
		  table.type01 {
			border-collapse: collapse;
			text-align: left;
			line-height: 1.5;
			margin : 20px 10px;
		  }
		  table.type01 th {
			width: 150px;
			padding: 10px;
			font-weight: bold;
			vertical-align: top;
			border: 1px solid #ccc;
		  }
		  table.type01 td {
		 	width: 350px;
			padding: 10px;
			vertical-align: top;
			border: 1px solid #ccc;
		  }
			</style>
</head>
<body class="is-preload">
<div id="content" style="margin-left: 0px;padding-left: 40px;padding-right: 40px;">
	<h1 id="logo"  style="margin-left: 40px;">
			<p style='margin-bottom: 15px;'>Database Status</p>
	</h1>
	<div style="
		width:70%;
		float:left;
		padding: 0.875em 0.875em;
		margin-right: 20px;
		">
			<div style="
		float:left;
		padding: 0.875em 0.875em;
		border:2px solid grey;
		border-radius: 2em;
		margin-right: 20px;
		box-shadow: 10px 10px 5px grey;
		width:100%;
		margin-bottom: 50px;
		">

	<h1>HIHIHI</h1>
	<h2 class="active" style="margin-left: 10px;margin-top: 13px;float:left;margin-bottom: 13px;">
		<strong style="margin-right: 50px;">Article</strong></h2>


      </div>

	 </div><!--70%-->
</div>
</body>
</html>
