<!DOCTYPE HTML>
<html>
<head>
	<title>Python Bootcamp Project</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../static/assets/css/main.css" />
	<style type='text/css'>
		  h1 {
			font-size: 30pt;
		  }
		  table.type01 {
			border-collapse: collapse;
			text-align: left;
			line-height: 1.5;
			margin : 20px 10px;
		  }
		  table.type01 th {
			width: 150px;
			padding: 10px;
			font-weight: bold;
			vertical-align: top;
			border: 1px solid #ccc;
		  }
		  table.type01 td {
		 	width: 350px;
			padding: 10px;
			vertical-align: top;
			border: 1px solid #ccc;
		  }
			</style>
</head>
<body class="is-preload">
<div id="content" style="margin-left: 0px;padding-left: 40px;padding-right: 40px;">
	<h1 id="logo"  style="margin-left: 40px;">
			<p style='margin-bottom: 15px;'>Database Status</p>
	</h1>
	<div style="
		width:70%;
		float:left;
		padding: 0.875em 0.875em;
		margin-right: 20px;
		">
			<div style="
		float:left;
		padding: 0.875em 0.875em;
		border:2px solid grey;
		border-radius: 2em;
		margin-right: 20px;
		box-shadow: 10px 10px 5px grey;
		width:100%;
		margin-bottom: 50px;
		">

	<h2 class="active" style="margin-left: 10px;margin-top: 13px;float:left;margin-bottom: 13px;">
		<strong style="margin-right: 50px;">Article</strong></h2>
				<table class='type01' style='margin-left: 0px;'>
				<tr>
					<th rowspan='3' style='width:5%;'>seq</th>
					<th>headline</th>
				</tr>
				<tr>
					<th>Related Comp</th>
				</tr>
				<tr>
					<th>Related keywords</th>
				</tr>

					{% for i in range(0,count,1): %}
				<tr>
					<td rowspan='3' align='center'>{{i+1}}</td>
					<td>{{headline}}</td>
				</tr>
				<tr>
					<td>{{seq_company}}</td>
				</tr>
				<tr>
					<td>{{seq_key}}</td>
				</tr>
					{% endfor %}

        </table>
      </div>
			<div style="width:580px; float:bottom;">
				<div class="pagination">
					<div class="pages" style="margin-left: 10px;">
						<a href="#" class="active">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#">4</a>
						<span>&hellip;</span>
						<a href="#">20</a>
					</div>
					<a href="#" class="button next">Next Page</a>
			</div>
		</div>
	 </div><!--70%-->
	 <div style="width:25%; float:left; min-width:300px;padding: 0.875em 0.875em;
	 border:0px solid grey;
	 box-shadow: 7px 7px 4px grey;
	 margin-top: 0.875em;
	 background-color:rgb(247,247,247);
	 ">
	 <h2 class="active"><strong>User_Report</strong></h2>
		<table class='type01' style='margin-left: 0px;'>
			 <tr>
				 <th>User</th>
				 <th>Liked News</th>
			 </tr>
			 <tr>
				 <th colspan='2'>Prefered keywords</td>
			 </tr>

					{% for i in range(0,8,1): %}
				 <tr>
					 <td>UserName</td>
					 <td>Userlogs</td>
				 </tr>
				 <tr>
					 <td colspan='2'>Userkeywords</td>
				 </tr>
					{% endfor %}

	 </table>
</div>

	 </div>
	 <!-- Sidebar -->
	 <div id="sidebar">

		 <!-- Logo -->
		 <h1 id="logo"><a href="/refresh">SK Hynix</a></h1>

		 <!-- Nav -->
		 <nav id="nav">
			 <ul>
				 <li class="current"><a href="/">DashBoard</a></li>
				 <li><a href="/headlines">Headlines</a></li>
				 <li><a href="#">About Me</a></li>
				 <li><a href="#">Contact Me</a></li>
			 </ul>
		 </nav>

		 <!-- Search -->
		 <section class="box search">
			 <form method="post" action="#">
				 <input type="text" class="text" name="search" placeholder="Search" />
			 </form>
		 </section>

		 <!-- Text -->
		 <section class="box text-style1">
			 <div class="inner">
				 <p>
					 <strong>Aliquam:</strong>
				 </p>
			 </div>
		 </section>

		 <!-- Copyright -->
		 <ul id="copyright">
			 <li>&copy; Copyright 2019. 개발엔 커피가 필요하조. All rights Reserved.</li>
		 </ul>

	 </div>

	 <!-- Scripts -->
	 <script src="../static/assets/js/jquery.min.js"></script>
	 <script src="../static/assets/js/browser.min.js"></script>
	 <script src="../static/assets/js/breakpoints.min.js"></script>
	 <script src="../static/assets/js/util.js"></script>
	 <script src="../static/assets/js/main.js"></script>
</body>
</html>
