<!DOCTYPE HTML>

<html>
<head>
	<title>Python Bootcamp Project</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../static/assets/css/main.css" />
</head>

<body class="is-preload">
	<div id="content" style="margin-left: 0px;padding-left: 40px;padding-right: 40px;">
		<!--p id="days" style="font-size:90px"></p-->
		<div style="width:70%;float:left;">
			<div style="padding: 0.875em 0.875em;margin-right: 20px;width:100%;">
				<div style="float:left;padding: 0.875em 0.875em;border:2px solid grey;border-radius: 2em;margin-right: 20px;box-shadow: 10px 10px 5px grey;width:100%;margin-bottom: 50px;">
                    <h2 class="active" style="margin-left: 10px;margin-top: 13px;float:left;"><strong style="margin-right: 50px;"> Today's Keywords</strong></h2>
						<table class='type01' style='margin-left: 0px;'>
                            <thead>
                                <tr>
                                    <th scope="col">SEQ</th>
                                    <th scope="col">ARTICLE</th>
                                    <th scope="col">URL</th>
                                    <th scope="col">DATE</th>
                                </tr>
                            </thead>
                            
                            {% for i in range(0,len_data,1): %}
                            <tr>
                                <td>{{ data[i][0] }}</td>
                                <td>{{ data[i][1] }}</td>
                                <td>{{ data[i][2] }}</td>
                                <td>{{ data[i][3] }}</td>
                            </tr>
                            {% endfor %}
						</table>
				</div>
			</div>
		</div>
	</div>
			<!-- Sidebar -->
			<div id="sidebar">

				<!-- Logo -->
				<h1 id="logo"><a href="/">SK Hynix</a></h1>

				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="current"><a href="/dashboard">DashBoard</a></li>
						<li><a href="/headlines">Headlines</a></li>
						<li><a href="#">About Me</a></li>
						<li><a href="#">Contact Me</a></li>
					</ul>
				</nav>

				<!-- Search -->
				<section class="box search">
					<form method="post" action="#">
						<input type="text" class="text" name="search" placeholder="Search" />
					</form>
				</section>

				<!-- Text -->
				<section class="box text-style1">
					<div class="inner">
						<p>
							<strong>Aliquam:</strong> A nibh mus fusce adipiscing morbi pellentesque faucibus mi et nec Parturient
						</p>
					</div>
				</section>

				<!-- Copyright -->
				<ul id="copyright">
					<li>&copy; Copyright 2019. 개발엔 커피가 필요하조. All rights Reserved.</li>
				</ul>

			</div>

			<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>
</body>
</html>
