<!DOCTYPE HTML>
<!--
	Striped by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Python Bootcamp Project</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
	</head>
	<body class="is-preload">
		{% for names in companyNames: %}
			<td>{{ names }}</td>
		{% endfor %}
		
		<!-- Sidebar -->
		<div id="sidebar">

			<!-- Logo -->
			<h1 id="logo"><a href="index.html">SK Hynix</a></h1>

			<!-- Nav -->
			<nav id="nav">
				<ul>
					<li class="current"><a href="index.html">DashBoard</a></li>
					<li><a href="index_2.html">Headlines</a></li>
					<li><a href="#">About Me</a></li>
					<li><a href="#">Contact Me</a></li>
				</ul>
			</nav>

			<!-- Search -->
			<section class="box search">
				<form method="post" action="#">
					<input type="text" class="text" name="search" placeholder="Search" />
				</form>
			</section>

			<!-- Text -->
			<section class="box text-style1">
				<div class="inner">
					<p>
						<strong>Aliquam:</strong> A nibh mus fusce adipiscing morbi pellentesque faucibus mi et nec Parturient
					</p>
				</div>
			</section>

			<!-- Copyright -->
			<ul id="copyright">
				<li>&copy; Copyright 2019. 개발엔 커피가 필요하조. All rights Reserved.</li>
			</ul>

		</div>


	</body>
</html>
