<!DOCTYPE HTML>
<html>
<head>
	<title>Python Bootcamp Project</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../static/assets/css/main.css" />
</head>
<body class="is-preload">
<!-- Content -->
<div id="content">
	<div class="inner">
		<!-- Post -->
		<h1 id="logo" style="margin-bottom:10px;">Headlines</h1>
		<div style="float: left;width: 100%;margin-bottom:20px;">
		<article class="box post post-excerpt">
			<div class="info">
				<span class="date"><span class="month">{{monthEn[(month-1)]}}</span> <span class="day">{{day}}</span></span>
				<ul class="stats">
					<li><a href="#" class="icon fa-heart">32</a></li>
				</ul>
			</div>
			<div style="float: left;width: 100%;padding-top: 15px;">
					{% for i in range(0,headlineNum,1): %}
							{% if(i%2==0): %}
								<div style='float: left; width: 45%;height:200px;margin-bottom:48px;'>
									<p><a target="_blank" href={{headlineUrl[i]}}><strong>{{headlines[i]}}</strong></a></p><p>{{contents[i]}}</p><strong>{{ compName[i] }}  {{ compPrice[i] }}</strong></p></div>
							{% else: %}
								<div style='float: right; width: 45%;height:200px;margin-bottom:48px;'>
								<p><a href={{headlineUrl[i]}}><strong>{{headlines[i]}}</strong></a></p><p>{{contents[i]}}</p><strong>{{ compName[i] }}  {{ compPrice[i] }}</strong></p></div>
							{% endif %}
					 {% endfor %}
			</div>
			</article>
			</div>
			<div style="float: left;width: 100%;margin-bottom:20px;">
			<article class="box post post-excerpt">
				<div class="info">
					<span class="date"><span class="month">{{monthEn[(month-1)]}}</span> <span class="day">{{(day-1)}}</span></span>
					<ul class="stats">
						<li><a href="#" class="icon fa-heart">100</a></li>
					</ul>
				</div>
				<div style="float: left;width: 100%;padding-top: 15px;">
					{% for i in range(0,headlineNum,1): %}
							{% if(i%2==0): %}
								<div style='float: left; width: 45%;height:200px;margin-bottom:48px;'>
									<p><a href={{headlineUrl[i]}}><strong>{{headlines[i]}}</strong></a></p><p>{{contents[i]}}</p><strong>{{ compName[i] }}  {{ compPrice[i] }}</strong></p></div>
							{% else: %}
								<div style='float: right; width: 45%;height:200px;margin-bottom:48px;'>
								<p><a href={{headlineUrl[i]}}><strong>{{headlines[i]}}</strong></a></p><p>{{contents[i]}}</p><strong>{{ compName[i] }}  {{ compPrice[i] }}</strong></p></div>
							{% endif %}
					 {% endfor %}
				</div>
				</article>
				</div>
		</div>
	</div>
	<div id="sidebar">

		<!-- Logo -->
		<h1 id="logo"><a href="/">SK Hynix</a></h1>

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a href="/">DashBoard</a></li>
				<li class="current"><a href="/headlines">Headlines</a></li>
				<li><a href="#">About Me</a></li>
				<li><a href="#">Contact Me</a></li>
			</ul>
		</nav>

		<!-- Search -->
		<section class="box search">
			<form method="post" action="#">
				<input type="text" class="text" name="search" placeholder="Search" />
			</form>
		</section>

		<!-- Text -->
		<section class="box text-style1">
			<div class="inner">
				<p>
					<strong>Aliquam:</strong> A nibh mus fusce adipiscing morbi pellentesque faucibus mi et nec Parturient
				</p>
			</div>
		</section>

		<!-- Copyright -->
		<ul id="copyright">
			<li>&copy; Copyright 2019. 개발엔 커피가 필요하조. All rights Reserved.</li>
		</ul>

	</div>

	<!-- Scripts -->
	<script src="../static/assets/js/jquery.min.js"></script>
	<script src="../static/assets/js/browser.min.js"></script>
	<script src="../static/assets/js/breakpoints.min.js"></script>
	<script src="../static/assets/js/util.js"></script>
	<script src="../static/assets/js/main.js"></script>

</body>
</html>
