<!DOCTYPE HTML>
<html>
<head>
	<title>Python Bootcamp Project</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../static/assets/css/main.css" />
</head>
<body class="is-preload">
	<div id="content" style="margin-left: 0px;">
		<h1 id="logo"  style="margin-left: 40px;">
	 		<p style="font-size:50px;margin-top: 30px;">today</p>
		</h1>
		<div style="width:70%;float:left;">
						<table>
							{% for names in companyNames: %}
							<tr>
								<td>{{ names }}</td>
							</tr>
							{% endfor %}
						</table>
					  <table>
							{% for keys in keywords: %}
							<tr>
								<td>{{ keys }}</td>
							</tr>
							{% endfor %}
						</table>
		</div>
	</div>
</body>
</html>
