<!DOCTYPE HTML>
<!--
	Striped by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
<head>
	<title>Python Bootcamp Project</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="../static/assets/css/main.css" />
</head>
<body class="is-preload">
<!-- Content -->
<div id="content">
	<div class="inner">
		<!-- Post -->
		<h1 id="logo" style="margin-bottom:10px;">Headlines</h1>
		<div style="float: left;width: 100%;margin-bottom:20px;">
		<article class="box post post-excerpt">
			<div class="info">
				<span class="date"><span class="month">{{monthEN[month]}}</span> <span class="day">{{day}}</span></span>
				<ul class="stats">
					<li><a href="#" class="icon fa-heart"></a></li>
				</ul>
			</div>
			<div style="float: left;width: 100%;padding-top: 15px;">
					{% for i in range(0,headlineNum,1): %}
							{% if(i%2==0): %}
								<div style='float: left; width: 45%;height:200px;margin-bottom:48px'>
									<p><a href="#"><strong>{{headlines[i]}}</strong></a></p><p>{{contents[i]}}</p><strong>{{ compName }}  {{ compPrice[i] }}</strong></p></div>");
							{% else: %}
								<div style='float: right; width: 45%;height:200px;margin-bottom:48px'>
								<p><a href="#"><strong>{{headlines[i]}}</strong></a></p><p>{{contents[i]}}</p><strong>{{ compName }}  {{ compPrice[i] }}</strong></p></div>");
							{% endif %}
					 {% endfor %}
			</div>
		</article>
		</div>
	</div>
</div>
</body>
</html>
