<!DOCTYPE HTML>
<!--
	Striped by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html>
	<head>
		<title>Python Bootcamp Project</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Content -->
			<div id="content">
				<div class="inner">

					<!-- Post -->
					{% for i in range(5): %}
					<article class="box post post-excerpt">
						<header>
							<h2><a href="#">#하이닉스, #삼성전자, #반도체</a></h2>
							<p>{{ title[0] }}</p>
						</header>
						<div class="info">

							<span class="date"><span class="month">Jul<span>y</span></span> <span class="day">14</span><span class="year">, 2014</span></span>
							<ul class="stats">
								<li><a href="#" class="icon fa-heart">32</a></li>
							</ul>
						</div>
						
						<a href="#" class="image featured"><img src="../static/images/pic01.jpg" alt="" /></a>
						<p><strong>Aenean!</strong> Aenean blandit at Eleifend, non massa adipiscing augue nisl faucibus accumsan ut Pellentesque Adipiscing Et interdum cep primis, pellentesque egestas, aliquet col sed morbi elit pharetra vestibulum pellentesque, lectus vis laoreet, pellentesque iaculis justo ac feugiat, sit parturient arcu accumsan ata vitae leo ante pellentesque quam duis accumsan mus penatibus.</p>
						<p>Pretium mi accumsan sed erat felis vel Suscipit Aliquet Condimentum natoque at arcu diam ut cep eu mus eleifend pellentesque quam adipiscing cras aliquam urna et duis mi aenean Vestibulum dis nec blandit. Id sem amet nibh ata col risus, mi elit in augue sollicitudin non orci enim euismod at nullam at ut Commodo sit vis lobortis mus faucibus.</p>
					</article>
					{% endfor %}

					<!-- Pagination -->
						<div class="pagination">
							<!--<a href="#" class="button previous">Previous Page</a>-->
							<div class="pages">
								<a href="#" class="active">1</a>
								<a href="#">2</a>
								<a href="#">3</a>
								<a href="#">4</a>
								<span>&hellip;</span>
								<a href="#">20</a>
							</div>
							<a href="#" class="button next">Next Page</a>
						</div>

				</div>
			</div>

		<!-- Sidebar -->
			<div id="sidebar">

				<!-- Logo -->
					<h1 id="logo"><a href="#">SK Hynix</a></h1>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li class="current"><a href="#">DashBoard</a></li>
							<li><a href="#">Specifics</a></li>
							<li><a href="#">About Me</a></li>
							<li><a href="#">Contact Me</a></li>
						</ul>
					</nav>

				<!-- Search -->
					<section class="box search">
						<form method="post" action="#">
							<input type="text" class="text" name="search" placeholder="Search" />
						</form>
					</section>

				<!-- Text -->
					<section class="box text-style1">
						<div class="inner">
							<p>
								<strong>Aliquam:</strong> A nibh mus fusce adipiscing morbi pellentesque faucibus mi et nec Parturient
							</p>
						</div>
					</section>

				<!-- Copyright -->
					<ul id="copyright">
						<li>&copy; Copyright 2019. 개발엔 커피가 필요하조. All rights Reserved.</li>
					</ul>

			</div>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>